<footer class="section section--smaller mt-8">
  <div class="container">
    <div class="row">
      <div class="col-12 flex-center">
        <a
          target="_blank"
          href="https://github.com/tomootes"
          class="icon icon-logo-github"
        ></a>
        <a href="tel:+31623447230" class="icon icon-phone-5"></a>
        <a href="mailto:tomootes@gmail.com" class="icon icon-email"></a>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/tootes/"
          class="icon icon-logo-linkedin"
        ></a>
      </div>
    </div>
  </div>
</footer>
