<footer class="section section--smaller py-16 mt-16">
  <div class="container">
    <div class="row">
      <div class="col-12 flex-center">
        <a href="mailto:tom@ootes.io" class="mb-6 flex">tom@ootes.io</a>
        <ul class="list-disc pl-10">
          <li><a target="_blank" href="https://hostux.social/@tomootes">Mastodon</a></li>
          <li>
            <a target="_blank" href="https://github.com/tomootes">Github</a>
          </li>
          <li><a target="_blank" href="tel:+31623447230">Telefoon</a></li>
          <li>
            <a target="_blank" href="https://www.linkedin.com/in/tootes/"
              >LinkedIn</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
