<div class="intro full-height">
  <div id="particles" class="particles">
    <canvas
      class="particles-js-canvas-el"
      style="width: 100%; height: 100%"
      width="5232"
      height="717"
    ></canvas>
  </div>
  <div class="overlay">
    <div class="container">
      <span class="intro-text"
        ><span class="icon icon-greenhouse"></span>
        <h2 class="heading text-3xl">Developer met oog voor het grotere plaatje</h2>
        <a href="#/about"
          ><button type="button" class="btn btn--white">
            Samen werken aan het web?
          </button></a
        ></span
      >
      <div class="bottom"><span class="down">Δ</span></div>
    </div>
  </div>
</div>
