<div class="intro md:h-96">
  <div id="particles" class="particles">
    <canvas
      class="particles-js-canvas-el"
      style="width: 100%; height: 100%"
      width="5232"
      height="717"
    ></canvas>
  </div>
  <div class="overlay" id="particles-js">
    <div class="container">
      {% if include.project_title %}
      <span class="intro-text text-3xl font-medium">
        <h2>{{include.project_title}}</h2>
      </span>
      {% else %}
      <span class="intro-text flex">
        <h2 class="heading text-3xl font-medium mb-6">
          Developer met oog voor het grotere plaatje
        </h2>
        <a href="/over"
          ><button type="button" class="btn btn--white mt-10 font-bold">
            Samen werken aan het web?
          </button></a
        ></span
      >
      <div class="bottom"><span class="down">Δ</span></div>
      {% endif %}
    </div>
  </div>
</div>
