<div class="section point-section py-16">
  <div class="container">
    <h1 class="section--heading flex-center mb-6 text-2xl text-center">Opdrachtgevers</h1>
    <div class="grid grid-cols-3 gap-4">
      {% assign sorted_projects = site.projects | sort: "date" %}
      {% for project in sorted_projects reversed %}
      <a href="{{ project.url }}" class="card p-4"
        ><div class="card-header">
          <div class="card-header__image">
            <img
              src="{{project.img}}"
              alt="{{project.img}}"
              class="card-img-top img-fluid"
            />
          </div>
          <h3 class="card-header__title mb-2">{{ project.project_name }}</h3>
          <i>{{ project.role }}</i>
        </div>
        <div class="card-block">
          <div class="card-text text-left">
            {{ project.description }}
          </div>
        </div>
        <span class="card-link">Lees meer ➝</span></a
      >
      {% endfor %}
    </div>
  </div>
</div>
