<div class="section point-section py-16">
  <div class="container">
    <h2 class="section--heading flex-center mb-12">Opdrachtgevers</h2>
    <div class="row cards-holder">
      {% assign sorted_projects = site.projects | sort: "date" %}
      {% for project in sorted_projects reversed %}
      <a href="{{ project.url }}" class="card project"
        ><div class="card-header">
          <div class="card-header__image">
            <img
              src="/assets/{{project.img}}"
              alt="/assets/{{project.img}}"
              class="card-img-top img-fluid"
            />
          </div>
          <h3 class="card-header__title">Front-end developer - BCO-Portaal</h3>
        </div>
        <div class="card-block">
          <p class="card-text">
            {{ project.content }}
          </p>
        </div>
        <a class="card-link">Lees meer ➝</a></a
      >
      {% endfor %}
    </div>
  </div>
</div>
