.project-content{
    p {
        margin-bottom: 2rem;
    }
    p, li {
        // font-family: Arial, Helvetica, sans-serif;
        // font-family: "Spectral";
        // margin-bottom: 2rem;
        font-size: 1.25rem;
    }

}