.card {

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--brand-primary);
    padding: 1.5rem;
    transition: box-shadow 0.2s ease-in-out;

    @media only screen and (min-width: var(--break-sm))  {
        margin-bottom: 0;
    }

    .card-header {
        &__image{
            transition: box-shadow 0.2s ease-in-out;
        }
    }
 

    &:hover{
        background-color: var(--brand-primary-lighter);
        box-shadow: 0 0 0 2px var(--brand-primary-light);
        .card-header {                // color: $brand-primary-dark;
            &__image{
                box-shadow: 0 0 0 3px var(--brand-primary-light);
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                background-color: white;
            }
            &__title{
                font-weight: bolder;
                color: var(--brand-primary-darker);
            }
        }
        .card-link{
            // color: $brand-primary-darker;
            font-weight: bolder;
        }
    }

    .card-header {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        
        width: 100%;

        &__image {
            height: 7rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-height: 5.5rem;
                max-width: 90%;
            }

            border-bottom: 1px solid var(--brand-primary);

        }

        &__title{
            margin-top: 1rem;
            margin-bottom: .5rem;
            font-size: var(--font-size-lg);
            color: var(--brand-primary);
            line-height: 1.5;
        }
    }

    .card-text {
        transition: font-weight 0.2s ease-in-out;
        margin: 1rem auto .75rem;
        font-size: var(--font-size-sm);
        // width: 80%;
        p {
            margin-bottom: 1rem;
        }
    }

    .card-block {
        .card-title {
            font-weight: 500;
        }
    }

    &-link {
        width: 100%;
        // color: $brand-primary-dark;
        font-size: var(--font-size-sm);
        text-decoration: underline;   
    }

    @media (min-width: var(--break-sm)) {
        width: 100%;
    }
}

.cards-holder {

    display: flex;
    flex-direction: column;

    @media only screen and (min-width: var(--break-sm))  {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (min-width: var(--break-lg))  {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(4, 1fr);
    }

    [class*="col-"] {
        display: flex;
        justify-content: center;

        // align-items: center;
   
    }
}
