.card {

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $brand-primary;
    padding: 1.5rem;
    transition: box-shadow 0.2s ease-in-out;

    @media only screen and (min-width: $break-sm)  {
        margin-bottom: 0;
    }

    .card-header {
        &__image{
            transition: box-shadow 0.2s ease-in-out;
        }
    }
 

    &:hover{
        background-color: lighten($brand-primary, 50%);
        box-shadow: 0 0 0 2px $brand-primary-light;
        .card-header {                // color: $brand-primary-dark;
            &__image{
                box-shadow: 0 0 0 3px $brand-primary-light;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                background-color: white;
            }
            &__title{
                font-weight: bolder;
            }
        }
        .card-link{
            // color: $brand-primary-darker;
            font-weight: bolder;
        }
    }

    .card-header {
        
        width: 100%;

        &__image {
            height: 7rem;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-height: 5.5rem;
                max-width: 90%;
            }

            border-bottom: 1px solid $brand-primary;

        }

        &__title{
            // text-align: left;
            font-size: $font-size-lg;
            color: $brand-primary;
            line-height: 1.5;
        }
    }

    .card-text {
        transition: font-weight 0.2s ease-in-out;
        margin: 1rem auto .75rem;
        font-size: $font-size-sm;
        // width: 80%;
        p {
            margin-bottom: 1rem;
        }
    }

    .card-block {
        .card-title {
            font-weight: 500;
        }
    }

    &-link {
        width: 100%;
        // color: $brand-primary-dark;
        font-size: $font-size-sm;
        text-decoration: underline;   
    }

    @media (min-width: $break-sm) {
        width: 100%;
    }
}

.cards-holder {

    display: flex;
    flex-direction: column;

    @media only screen and (min-width: $break-sm)  {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (min-width: $break-lg)  {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(4, 1fr);
    }

    [class*="col-"] {
        display: flex;
        justify-content: center;

        // align-items: center;
   
    }
}
