.btn {
	// border-radius: 3px;
	padding: .75rem 1.25rem;
	background: var(--brand-primary-light);
	cursor: pointer;
	border: 0;
	letter-spacing: 1px;
	font-size: 0.875rem;
	// box-shadow: 3px 3px 0 darken($brand-primary, 10%);
	color: white;
	border: 1px solid var(--brand-primary);

	&.btn--light{
		background: var(--brand-primary-lighter);
		border: 0;
		box-shadow: none;
	}

	&.btn--white{
		color: var(--brand-primary-darker);
		background: white;
		border: 0;
		box-shadow: none;
	}

}

button:focus {outline:0;}
