footer{
  background: var(--gray-lighter);
  color: var(--gray-light);
  font-size: 1.5rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  .icon{
    padding: 1rem;
    line-height: inherit !important;
  }

  ul{
    list-style: none;
  }

  ul li ::marker{
    display: none;
  }

  .link-list{
    a {
      text-decoration: underline;
      &:hover{
        color: black;
        text-decoration: underline;
      }
    }
  }
}
