:root {
  // Start with assigning color names to specific hex values.
  --red: #EC6862;
  --orange: #EC8762;
  --yellow: #ECE362;
  --green: #95EC62;
  --dark-green: #039E96;
  --mint-green: #65ecb9;
  --mint-green-darker: #38e6a4;
  --blue: #7FC0EC;
  --teal: #5bc0de;
  --pink: #ff5b77;
  --purple: #613d7c;

  // Create grayscale
  --gray-dark: #292b2c;
  --gray: #464a4c;
  --gray-light: #636c72;
  --gray-lighter: #eceeef;
  --gray-lightest: #f7f7f9;

  // Transparent colors
  --transparent-white: rgba(255, 255, 255, 0.4);

  // Reassign color vars to semantic color scheme
  --brand-primary: #0DE5A8;
  --brand-success: var(--green);
  --brand-info: var(--teal);
  --brand-warning: var(--orange);
  --brand-danger: var(--red);
  --brand-inverse: var(--gray-dark);

  // Brand primary variations (manually calculated from #0DE5A8)
  --brand-primary-transparent: rgba(13, 229, 168, 0.8);
  --brand-primary-light: #24e8b4;
  --brand-primary-lighter: #6beed0;
  --brand-primary-dark: #0bc196;
  --brand-primary-darker: #089975;


  // Spacing/Gutters
  --gutter-large: 5rem;
  --gutter: 3rem;
  --gutter-small: 2rem;
  --gutter-xs: 1rem;

  --font-size-sm: .875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.25rem;
}

// Breakpoints
$break-sm: 600px;
$break-lg: 1200px;
$break-md: 900px;
$break-xl: 1700px;