@import 'variables';

@import 'container';
@import 'intro';
@import 'footer';

@import 'typography';

@import 'button';

@import 'components/particles';

@import 'components/navbar';

@import 'components/card';

@import 'typography';

@import 'particles';

@import 'templates/project';
@import 'templates/blog';

body {
	transition: all 0.2s ease-in-out;
	margin: 0;
	padding: 0;
	font-size: 100%;
	width: 100%;

	#app {
		width: 100%;
		padding: 0;
		margin: 0;
	}
}

a:active,
a:hover {
	text-decoration: none;
}

.vertical-center {
	display: flex;
	align-items: center;
}

.router-link-active {
	color: rgba(0, 0, 0, 0.9);
}
