<!DOCTYPE html>
<html lang="nl">
  {% include head.html %}
  {% include nav.html background="coloured" %}
  {% include hero.html collapsed="true" project_title=page.client %}
  <div class="container mt-12 max-w-4xl blog-template">
      <main class="project-content">
        <h1 class="mb-12">{{page.title}}</h1>

        {{content}}

      </div>
    </main>
  </div>
  <div class="container mt-12">
    <div class="go-back-link"><a href="/blog" class="underline">← terug naar projecten</a></div>
  </div>
  {% include footer.html %}
      <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</html>
